@use '/src/app/mixins';

.solucao {
  @include mixins.paddingLateral(0);

  padding-top: 64px;
  margin-bottom: 23px;


  img {
    display: block;
    width: 100%;
    margin-bottom: 18px;
    border-radius: 10px;
  }

  h2  {
    @include mixins.subTitulo()
  }

  p {
    margin-top: 16px;
    font-size: 20px;
    color: #e1d6d6d4;
    margin-bottom: 28px;
    text-align: justify;
  }

  a {
    background-color: #ed145b;
    border: 1px solid #ed145b;
    padding: 14px 48px;
    border-radius: 10px;
    transition: 0.2s;
    margin: 4px 0;
    cursor: pointer;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
  
      
    
    
  }
}

@media (min-width: 1280px) {
  .solucao {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    align-items: center;
    margin: 12vh 0;
    div {
      width: 40%;
      img {
        height: 280px;
        width: 100%;
      }
    }

    .conteudo {
      width: 100%;


      a {
        width: 20%;
        text-align: center;
      }
    }
  }

  .par {
    .conteudo {
      order: 1;
      // text-align: start;
    }

    div {
      order: 2;
    }
  }
}